[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
psycopg2 = "*"
sqlalchemy = "*"
alembic = "*"
pydantic = "*"
requests = "*"
fastapi-sqlalchemy = "*"
python-dotenv = "*"
passlib = "*"
python-jose = "*"
python-multipart = "*"
sqlalchemy_utils = "*"

[dev-packages]
pre-commit = "*"
pytest = "*"

[requires]
python_version = "3.9"

[scripts]
test = "pytest"
